body {
	font-family: verdana, sans-serif;
	margin:0px;
	overflow-x:hidden;
}

h2, h3 {
	margin:0px;
	padding-bottom:10px;
}

.tableContainer {
	background-color:#33beb6;
	vertical-align:top;
	margin:0px;
	/*background-color:#ff8800;*/
}

@media screen and (max-width: 500px) {
	header {
		font-size: 115%;
	}
}

@media screen and (min-width: 500px) and (max-width: 599px) {
	header {
		font-size: 150%;
	}
}

@media screen and (min-width: 600px) and (max-width: 699px) {
	header {
		font-size: 200%;
	}
}

@media screen and (min-width: 700px) and (max-width: 799px) {
	header {
		font-size: 250%;
	}
}

@media screen and (min-width: 800px) {
	header {
		font-size: 300%;
	}
}

@media screen and (max-width: 600px) {
	.tableContainer {
		padding: 0% 2% 2% 2%;
		width:96%;
		margin:0px;
	}
	.tableRow, .tableCell {
		margin: 0px;
	}

	.tableRow {
		border-bottom: 1px solid #33b8b6;
	}

	#codeCell {
		padding-right: 1%;
	}
}

@media screen and (min-width: 601px) {
	.tableContainer {
		display:table;
		width:100%;
	}

	.tableRow {
		display:table-row;
	}

	.tableCell {
		display: table-cell;
		vertical-align: top;
		padding: 0% 1% 1% 1%;
	}

	#pseudocodeCell {
		width: 42%;
	}

	#codeCell {
		width: 42%;
		padding-right: 2%;
	}

	#convertCell {
		vertical-align: middle;
		width:10%;
	}
}

#convertCell {
	text-align: center;
}

header {
	padding:0px 10px;
	text-align: center;
	background-color:#292929;
}

footer {
	font-size: 70%;
	color: #fff;
	padding: 10px;
	text-align: center;
	background-color:#292929;
}

h1 {
	padding:0px;
	vertical-align:top;
	margin:0px;
}

#twoHeader {
	background-color: #aaa;
	color: #292929; 
	padding: 0px 30px;
	border-radius:500px;
}

#codeTextHeader {
	/*color:#007700;*/
	color:#ffffff;
	/*color:#33beb6;*/
}

#textHeader {
	color:#ffffff;
	/*color:#33beb6;
	color:#007700;*/
}

.tableCell {
	color: #fff;
}

#convertBtn {

}

#pseudocode, #pythonCode, #jsCode {
	height:300px;
	width:95%;
	resize:vertical;
	border:1px solid black;
	padding:2%;
	/*background-color:#272727;
	color:#007700;
	font-weight:bold;*/
}

#startBlocks ~ * {
	height:300px;
	width:100%;
	border:1px solid black;
	overflow:scroll;
}
